.styled-input input:focus ~ label,
.styled-input textarea:focus ~ label,
.styled-input input:valid ~ label,
.styled-input textarea:valid ~ label {
    font-size: 0.75em;
    color: #007AFF;
    top: -2.25rem;
    left:0;
    transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);

}

.styled-input {
    width: 100%;
    margin: 2rem 0 1rem;
    position: relative;

}

.styled-input label {
    color: #999;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 25px;
    transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    pointer-events: none;
    font-size: 13px;
}

.styled-input.wide {
    width: 100%;
}

.styled-input input, .styled-input textarea {
    padding: 1rem 2.5rem;
    border: 0;
    width: 100%;
    font-size: 13px;
    background: #ecf0f1;
    max-width: 100%;
    border-radius: 20px;
}

.styled-input input ~ span, .styled-input textarea ~ span {
    display: block;
    width: 0;
    height: 0px;
    background: #1a9af4;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}

.styled-input input:focus, .styled-input textarea:focus {
    outline: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 1px solid #007AFF;
    /*box-shadow: 0 0 0 0.1875rem rgba(48, 76, 253, 0.25);*/
}

.styled-input input:focus ~ span,
.styled-input textarea:focus ~ span {
    width: 100%;
    transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);


}

.styled-input textarea {
    width: 100%;
    min-height: 15em;
}

.form-button {
    width: 100%;
    border: 0;
    background: blue;
    padding: 10px;
    color: white;
}

.message {
    color: #007AFF;
    font-size: 13px;
}

.contact-header{
    left: 10px;
    right:unset;
}



