.card__concepts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category {
  position: relative;
  background-image: url("../../public/img/carbon1-dark.png");
  background-size: 800px 800px;
  background-repeat: no-repeat;
  background-position: 0% 50px;
}
