.background {
  background-image: url("../../public/img/carbon1-dark.png");
  background-size: 1000px 1000px;
  background-repeat: no-repeat;
  background-position: 150% 150%;
  position: relative;
}

.header {
  font-size: 55px;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: left;
}
