.footer {
    width: 100%;
    background: #F5F8F9 ;
    display: flex;
    justify-content: center;
    padding: 10px 50px;
    align-items: center;
    align-self: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.social-media__container{
    z-index: 10;
}

.footer p {
    font-size: 15px;
    color: #51535d;
}

.box {
    flex: 1;
    display: flex;
}

.box-center {
    justify-content: center;

}

.box-right {
    justify-content: flex-end;
}

.social-media__link {
    font-size: 12px;
    margin: 0 20px;
}

@media screen and (max-width: 814px) {
    .footer {
        flex-wrap: wrap;
    }

    .box {
        flex: auto;
    }

    .social-media__container, .empty {
        display: none;
    }
}
