@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./theme-red";
@import "./theme-blue";
@import "./theme-purple";
@import "./theme-orange";

#__next {
  font-family: "Montserrat", sans-serif;
  /*background: #E5E5E5;*/
  /*padding: 80px;*/
}

h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 72px;
  color: white;
  text-transform: uppercase;
  z-index: 10;
}

@media screen and (max-width: 1280px) {
  h2 {
    font-size: 25px;
  }
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin: 0 50px 0 0;
  color: #484848;
  z-index: 10;
}

h3:after {
  content: "";
  position: relative;
  display: block;
  width: 10rem;
  height: 3px;
  border-radius: 5px;
  background-color: #01d1a7;
}

.button--xs {
  color: #18a0fb;
  border: 1px solid #18a0fb;
  padding: 11px 22px;
  border-radius: 7px;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
}

.button--xs:hover {
  background: #18a0fb;
  color: white;
}

.full-width {
  width: 100%;
  flex-basis: 100%;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .full-width {
    overflow-x: scroll;
    margin-top: 50px;
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.theme--color {
  color: #01d1a7;
}

.flex {
  display: flex;
}

.card__concepts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__categories {
  background: #ffffff;
  padding: 80px;
  margin: 40px 0;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.card__post {
  background: #ffffff;
  padding: 80px;
  margin: 40px 0;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  z-index: 10;
  flex-wrap: wrap;
}
.card__post h2 {
  color: black;
  font-weight: bold;
}
.card__post h3 {
  font-size: 40px;
}

.card__post li {
  margin: 20px 0;
}

.card__post .children {
  margin-top: 50px;
  width: 100%;
  font-size: 20px;
}

@media screen and (max-width: 1280px) {
  .card__post {
    padding: 20px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1280px) {
  .card__categories {
    padding: 20px;
    flex-wrap: wrap;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title__bg-image {
  position: absolute;
  top: 0;
  right: 0;
}

.shape {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.shape span {
  position: absolute;
}

.circle-animation span {
  -webkit-animation: ripple-white 1s linear infinite;
  animation: ripple-white 1s linear infinite;
  -webkit-transition: 0.5s linear;
}

.shape-primary {
  background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
}

.shape-primary :nth-child(1) {
  background: #53f;
}

.shape-primary :nth-child(2) {
  background: #4553ff;
}

.shape-primary :nth-child(3) {
  background: #4f40ff;
}

.shape-primary :nth-child(4) {
  background: #25ddf5;
}

.shape-primary :nth-child(5) {
  background: #1fa2ff;
}

.shape-style-1 span {
  width: 120px;
  height: 120px;
  border-radius: 100px 130px 100px 315px;
}

.shape-style-1 .span-200 {
  width: 200px;
  height: 200px;
}

.shape-style-1 .circle-150 {
  width: 150px;
  height: 150px;
}

@keyframes example {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes example2 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes example3 {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.shape-style-1 .circle-100 {
  width: 100px;
  height: 100px;
  animation: example 10s infinite;
}

.shape-style-1 .circle-75 {
  width: 75px;
  height: 75px;
  animation: example3 13s infinite;
}

.shape-style-1 .circle-50 {
  width: 50px;
  height: 50px;
  animation: example2 15s infinite;
}

.shape-style-1 :nth-child(1) {
  bottom: auto;
  left: -3%;
  top: -20px;
  background: rgba(255, 255, 255, 0.1);
}

.shape-style-1 :nth-child(2) {
  top: 15%;
  right: 10%;
  background: rgba(255, 255, 255, 0.1);
}

.shape-style-1 :nth-child(3) {
  top: 280px;
  right: 5.66666%;
  background: rgba(255, 255, 255, 0.3);
}

.shape-style-1 :nth-child(4) {
  top: 320px;
  right: 7%;
  background: rgba(255, 255, 255, 0.15);
}

.shape-style-1 :nth-child(5) {
  top: 38%;
  right: auto;
  left: 1%;
  background: rgba(255, 255, 255, 0.05);
}

.shape-style-1 :nth-child(6) {
  top: 65%;
  right: auto;
  left: 35%;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.15);
}

.shape-style-1 :nth-child(7) {
  right: 40%;
  bottom: 45%;
  background: rgba(255, 255, 255, 0.04);
}

.shape-style-1 :nth-child(8) {
  right: 6%;
  bottom: 100px;
  background: rgba(255, 255, 255, 0.2);
}

.shape-style-1 :nth-child(9) {
  right: 5%;
  bottom: 12%;
  background: rgba(255, 255, 255, 0.1);
}

.shape-style-1 :nth-child(10) {
  right: auto;
  bottom: 11%;
  left: 15%;
  background: rgba(255, 255, 255, 0.05);
}

.delay-dot25s {
  animation-delay: 0.25s !important;
  animation-fill-mode: both !important;
  opacity: 0;
}
.delay-dot50s {
  animation-delay: 0.5s !important;
  animation-fill-mode: both !important;
  opacity: 0;
}
.delay-dot75s {
  animation-delay: 0.75s !important;
  animation-fill-mode: both !important;
  opacity: 0;
}

.delay-1s {
  animation-delay: 1s !important;
  animation-fill-mode: both !important;
  opacity: 0;
}

.delay-2s {
  animation-delay: 2s !important;
  animation-fill-mode: both !important;
  opacity: 0;
}

.delay-3s {
  animation-delay: 3s !important;
  animation-fill-mode: both !important;
  opacity: 0;
}

.delay-4s {
  animation-delay: 4s !important;
  animation-fill-mode: both !important;
  opacity: 0;
}
.delay-5s {
  animation-delay: 5s !important;
  animation-fill-mode: both !important;
  opacity: 0;
}

@media (max-width: 991.98px) {
  .shape-style-1 span {
    height: 120px;
  }
}

@media (max-width: 767.98px) {
  .shape-style-1 span {
    height: 90px;
  }
}

.shape-style-1.shape-primary {
  background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
}

.button {
  border: 2px solid #281483;
  background: transparent;
  color: #000;
  text-decoration: none;
  padding: 5px 30px;
  transition: all 0.3s ease-out;
  letter-spacing: 0.5px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

.global_h2 {
  margin: 20px 0 10px;
  color: #333;
  font-weight: 700;
  position: relative;
}

.global_h2:before {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 80px;
  height: 4px;
  background: #795bc3;
  content: "";
}

.global_h2:after {
  position: absolute;
  bottom: 0px;
  left: -50px;
  color: #795bc3;
  content: ">";
}

.global_h2 .global_background {
  position: absolute;
  font-size: 60px;
  top: -11px;
  left: 8%;
  color: #eee;
  z-index: -1;
}

.global_background {
}

@media only screen and (max-width: 768px) {
  .button {
    width: 100%;
  }

  h2 {
    font-size: 20px;
  }
  .shape-style-1 .circle-75 {
    display: none;
  }
  .global_h2 {
    font-size: 27px;
  }
  .global_h2 .global_background {
    font-size: 30px;
  }
}

.border-red {
  border: 2px solid $mainRed;
}

.background-red {
  background: linear-gradient(150deg, $mainRed, $secRed, $thirdRed) !important;
}

.background-red--before:after {
  background: $mainRed;
}

.light-red path {
  color: $thirdRed !important;
}

.pri-red {
  color: $mainRed !important;
}

.border-blue {
  border: 3px solid $mainBlue;
}

.background-blue {
  background: linear-gradient(
    150deg,
    $mainBlue,
    $secBlue,
    $thirdBlue
  ) !important;
}

.background-blue--before:after {
  background: $mainBlue;
}

.light-blue path {
  color: $thirdBlue !important;
}

.pri-blue {
  color: $mainBlue !important;
}

.border-purple {
  border: 3px solid $mainPurple;
}

.background-purple {
  background: linear-gradient(
    150deg,
    $mainPurple,
    $secPurple,
    $thirdPurple
  ) !important;
}

.background-purple--before:after {
  background: $mainPurple;
}

.light-purple path {
  color: $thirdPurple !important;
}

.pri-purple {
  color: $mainPurple !important;
}

.border-orange {
  border: 2px solid $mainOrange;
}

.background-orange {
  background: linear-gradient(
    150deg,
    $mainOrange,
    $secOrange,
    $thirdOrange
  ) !important;
}

.light-orange path {
  color: $thirdOrange !important;
}

.pri-orange {
  color: $mainOrange !important;
}

.background-orange--before:after {
  background: $mainOrange;
}

.color--black {
  color: black !important;
}

.mt-150 {
  margin-top: 150px !important;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  font-family: monospace;
}

.inline-block {
  display: inline-block;
}
